body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100%;
}
.taskText h1{
    color: #fff;
    display: flex;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 50px;
}
.inputCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    
}
#textArea{
    width: 500px;
    resize: none;
    
}
#list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#list li{
    list-style: none;
    border: 1px solid;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-color: aqua;
    font-weight: 600;
    font-size: 18px;
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    width: 800px;
    

}
#list li a i{
    color: #fff;
}